<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fireplace.market.fads"
    android:versionCode="1"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".FireplaceApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.amoCrm" >
        <activity
            android:name=".controller.MainController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.SearchController"
            android:label="@string/SearchController" >
        </activity>
        <activity
            android:name=".controller.SettingsController"
            android:label="@string/SettingsController"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".controller.StorageController"
            android:label="@string/StorageController"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".controller.ApplicationsController"
            android:label="@string/AppsController"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".controller.RepositoriesController"
            android:label="@string/ReposController"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".controller.DetailedAppsController"
            android:label="@string/DetailedAppsController" >
        </activity>
    </application>

</manifest>